In [1]:
s= "chhath"

In [4]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [5]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [12]:
for i in range (1,6):
    print(i*"* ")

*
* *
* * *
* * * *
* * * * *

In [10]:
"* " *5

'* * * * * '

In [16]:
for i in range(5,0, -1):
    print(i* "* ")

* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(5,0, -1):
    print(i* " *")

 * * * * *
 * * * *
 * * *
 * *
 *

In [21]:
for i in range(1,6):
    print((5-i)* " " + i * "* ")

    *
   * *
  * * *
 * * * *
* * * * *

In [22]:
for i in range(1,6):
    print((5-i)* " " + i * "* ")

    *
   * *
  * * *
 * * * *
* * * * *

In [25]:
for i in range(1,6):
    print("  " *(5-i)+(i*2-1) * "* ")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [26]:
for i in range(5,0,-1):
    print("  " *(5-i)+(i*2-1) * "* ")

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [28]:
for i in range(1,6):
    print("  " *(5-i)+(i*2-1) * "* ")
for i in range(4,0,-1):
    print("  " *(5-i)+(i*2-1) * "* ")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [29]:
i =1
while i <= 5:
    print(i)
    i= i+1

1
2
3
4
5

In [30]:
i = 10
while i >=0:
    print(i)
    i= i -1

10
9
8
7
6
5
4
3
2
1
0

In [37]:
n= 10
i - 0
total = 0
while i <=n :
    total = total +i
    i= i + 1
print(total)

0

In [39]:
n = 20
i = 0
while i <=n:
    if i % 2 == 0:
        print(i)
    i= i+1

0
2
4
6
8
10
12
14
16
18
20

In [40]:
i = 1
n = 10
number = 19
while i <= n:
    print(f'{number}x {i}= {number*i}')
    i = i + 1

19x 1= 19
19x 2= 38
19x 3= 57
19x 4= 76
19x 5= 95
19x 6= 114
19x 7= 133
19x 8= 152
19x 9= 171
19x 10= 190

In [43]:
for i in range (1,6):
    if i == 3 :
        break
    print(i)

1
2

In [46]:
for i in range (1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [49]:
l = ["chitranjan " ,"  " ,"kumar"]
for i in l :
    if i == "  ":
        continue
    print(i)

chitranjan
kumar

In [56]:
i = 0
while i <10:
    i= i +1
    if i == 3 or i == 6 :
        continue
    print(i)

1
2
4
5
7
8
9
10

In [60]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)

In [62]:
l1

[1, 4, 9, 16, 25]

In [63]:
[i**2 for i in l ]

[1, 4, 9, 16, 25]

In [64]:
[i+1 for i in range(1,10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
[i for i in range(1,10)if i %2 == 0 ]

[2, 4, 6, 8]

In [69]:
l = []
for i in range(1,10):
    if i%2 == 0:
        l.append(i)

In [70]:
l

[2, 4, 6, 8]

In [72]:
l = ["chitranjan", "mohan"," hotel"]
for i in l:
    print(i)

chitranjan
mohan
 hotel

In [73]:
next(l)

TypeError: 'list' object is not an iterator

l = iter(l)

In [74]:
l = iter(l)

In [75]:
next(l)

'chitranjan'

In [76]:
next(l)

'mohan'

In [77]:
next(l)

' hotel'

In [79]:
for i in range (1,6):
    print(i* "*  ")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [80]:
for i in range (1,6):
    print(i* "*  ")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [81]:
for i in range(5,0,-1):
    print(i* "*  ")

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [83]:
for i in range(1,6):
    print((5-i)* "  " + i * "* ")

        *
      * *
    * * *
  * * * *
* * * * *

In [86]:
for i in range (1,5):
    print((5-i)*"  " + i * "* ")

        *
      * *
    * * *
  * * * *

In [87]:
for i in range(1,6):
    print("  "*(5-i)+(i*2-1) * "* ")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [88]:
for i in range(5,0,-1):
    print("  "*(5-i)+(i*2-1) * "* ")

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [91]:
for i in range(1,6):
    print("  "*(5-i)+(i*2-1) * "* ")
for i in range(4,0,-1):
    print("  "*(5-i)+(i*2-1) * "* ")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [92]:
i = 1
while i <=5:
    print(i)
    i = i+1

1
2
3
4
5

In [93]:
i = 1
while i <=5:
    print(i)
    i =i+1

1
2
3
4
5

In [95]:
i = 10
while i >=0:
    print(i)
    i = i -1

10
9
8
7
6
5
4
3
2
1
0

In [97]:
n = 10
i = 1
total = 0

while i <= n:
    total = total +i
    i = i +1
print(total)

55

In [98]:
n = 24
i = 1
total = 0

while i <= n:
    total = total+i
    i = i+1
print(total)

300

In [100]:
n = 25
i = 0

while i <=n :
    if i % 2 == 0:
        print(i)
    i = i +1

0
2
4
6
8
10
12
14
16
18
20
22
24

In [106]:
i = 1
n = 10
number = 12
while i <= n:
    print(f'{number} x {i} = {number*i}')
    i= i+1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [107]:
for i in range(1,5):
    if i == 4:
        break 
    print(i)

1
2
3

In [108]:
for i in range(1,6):
    if i == 4 :
        continue
    print(i)

1
2
3
5

In [110]:
l = ["Hello", "money","","iihmr", ""]
for i in l:
    if i == "":
        continue
    print(i)

Hello
money
iihmr

In [115]:
i = 1
while i <= 10:
    if i == 6:
        break
    print(i)
    i= i+1

1
2
3
4
5

In [119]:
i = 1
while i <= 10:
    i= i+1
    if i == 3 or i == 6:
        continue
    print(i)

2
4
5
7
8
9
10
11

In [121]:
l = [1,2,3,4,5,6]
l1= []
for i in l:
    l1.append (i**2)

In [122]:
l1

[1, 4, 9, 16, 25, 36]

In [123]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36]

In [124]:
[i+1 for i in range(1,10)]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [125]:
[i for i in range(1,10)if i % 2 ==0 ]

[2, 4, 6, 8]

In [126]:
l =[]
for i in range(1,11):
    if i% 2 == 0:
        l.append(i)

In [127]:
l

[2, 4, 6, 8, 10]

In [128]:
l = [ "forever", "humsafer", "kahani"]

In [129]:
next(l)

TypeError: 'list' object is not an iterator

In [131]:
l = iter(l)

In [132]:
next(l)

'forever'