In [1]:
a =10 
b = 20

In [3]:
c= a+b 
print (c)

30

In [5]:
d= b-a
print(d)

10

In [6]:
e = a*b
print (e)

200

In [7]:
f = a/b
print(f)

0.5

In [8]:
a = 4
b = 6

In [11]:
c = a , b = b,a
print (a, b)

6 4

In [14]:
s = "Hello my name is chitranjan and my age is 35"
print(s)

Hello my name is chitranjan and my age is 35

In [ ]:
r = 5

In [18]:
p = 1000
r = 2
t = 3 
si = p*r*t /100 
print (si)
print (p+si)

60.0
1060.0

In [21]:
l = ['apple', 'banana', 'cherry', 'guava', 'papaya']

In [24]:
print (l)

['apple', 'banana', 'cherry', 'guava', 'papaya']

In [25]:
l[0], l[4]

('apple', 'papaya')

In [26]:
l.append("pineapple")

In [27]:
l

['apple', 'banana', 'cherry', 'guava', 'papaya', 'pineapple']

In [28]:
l.remove("banana")

In [29]:
l

['apple', 'cherry', 'guava', 'papaya', 'pineapple']

In [32]:
t =("black", "green", "pink", "yellow,", "orange")

In [37]:
t

('black', 'green', 'pink', 'yellow,', 'orange')

In [38]:
t[2], t[4]

('pink', 'orange')

In [39]:
t.append("purple")

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [42]:
list (t)

['black', 'green', 'pink', 'yellow,', 'orange']

In [43]:
l.append("dragon fruit")

In [44]:
l

['apple', 'cherry', 'guava', 'papaya', 'pineapple', 'dragon fruit']

In [45]:
tuple(l)

('apple', 'cherry', 'guava', 'papaya', 'pineapple', 'dragon fruit')

In [46]:
d = {"Student1": "Roshan", "Stu1 Marks" : 100,  "Student2": "Lokesh", "stu2 Marks": 202, "Student3":"Vikash" ,"Stu3 Marks": 303}

In [47]:
d

{'Student1': 'Roshan',
 'Stu1 Marks': 100,
 'Student2': 'Lokesh',
 'stu2 Marks': 202,
 'Student3': 'Vikash',
 'Stu3 Marks': 303}

In [49]:
d.keys()

dict_keys(['Student1', 'Stu1 Marks', 'Student2', 'stu2 Marks', 'Student3', 'Stu3 Marks'])

In [50]:
list(d.values())

['Roshan', 100, 'Lokesh', 202, 'Vikash', 303]

In [54]:
d

{'Student1': 'Roshan',
 'Stu1 Marks': 100,
 'Student2': 'Lokesh',
 'stu2 Marks': 202,
 'Student3': 'Vikash',
 'Stu3 Marks': 303}

In [55]:
d.update({"Stu4": "Atultit Kashyap"})

In [56]:
d

{'Student1': 'Roshan',
 'Stu1 Marks': 100,
 'Student2': 'Lokesh',
 'stu2 Marks': 202,
 'Student3': 'Vikash',
 'Stu3 Marks': 303,
 'Stu4': 'Atultit Kashyap'}

In [57]:
d.update({"stu4 Marks": 400})

In [58]:
d

{'Student1': 'Roshan',
 'Stu1 Marks': 100,
 'Student2': 'Lokesh',
 'stu2 Marks': 202,
 'Student3': 'Vikash',
 'Stu3 Marks': 303,
 'Stu4': 'Atultit Kashyap',
 'stu4 Marks': 400}

In [59]:
d1= {"MOhan": 300, "radha": 308, "Hari": 390, "Vikas": 380, "Venky":290}

In [60]:
d1.keys()

dict_keys(['MOhan', 'radha', 'Hari', 'Vikas', 'Venky'])

In [61]:
d1.values()

dict_values([300, 308, 390, 380, 290])

In [62]:
d1

{'MOhan': 300, 'radha': 308, 'Hari': 390, 'Vikas': 380, 'Venky': 290}

In [68]:
Stu_name = input("enter a name")
if Stu_name in d1 :
    print(f"{Stu_name} s marks: {d1[Stu_name]}")
else:
    print("Student not found")

Student not found

In [74]:
S1= {5,4,4,5,6,6,67,7,2,3,4,5,6,9,7}

In [75]:
S1

{2, 3, 4, 5, 6, 7, 9, 67}

In [76]:
S1.add(50)

In [77]:
S1

{2, 3, 4, 5, 6, 7, 9, 50, 67}

In [78]:
S1.add(50)

In [79]:
S1

{2, 3, 4, 5, 6, 7, 9, 50, 67}

In [80]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [89]:
s3 = set1+set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [81]:
result_union = set1 | set2

In [82]:
result_union

{1, 2, 3, 4, 5, 6}

In [83]:
result = set1&set2

In [84]:
result

{3, 4}

In [85]:
difference = set1 - set2

In [86]:
difference

{1, 2}

In [87]:
dif1 = set2 - set1

In [88]:
dif1

{5, 6}

In [90]:
print(difference)
print (dif1)

{1, 2}
{5, 6}

In [94]:
print(difference), print (dif1)

{1, 2}
{5, 6}

(None, None)

In [96]:
l1 = [3,4,5,6,4,5,8,77,8,90,3,2,6,34,8]

In [97]:
set[l1]

set[[3, 4, 5, 6, 4, 5, 8, 77, 8, 90, 3, 2, 6, 34, 8]]

In [98]:
set(l1)

{2, 3, 4, 5, 6, 8, 34, 77, 90}