In [2]:
class bankaccount:
    def __init__ (self, account_holder, account_number, balance = 0):
        self.account_holder = account_holder
        self.account_number = account_number
        self.balance = balance

    def deposit( self, amount):
        self.balance = self.balance + amount
        return self.balance
    
    def withdraw (self,amount):
        if amount > self.balance :
            return "insufficient balalnce"
        else:
            self.balance = self.balance - amount
            return self.balance

In [3]:
om = bankaccount("om Kashyap", 2325235214,)

In [4]:
om.balance

0

In [5]:
om.account_holder

'om Kashyap'

In [6]:
om.account_number

2325235214

In [7]:
om.deposit(600)

600

In [8]:
om.balance

600

In [9]:
om.withdraw(540)

60

In [10]:
om.balance

60

In [11]:
om.withdraw(4534)

'insufficient balalnce'

In [ ]:
class shoppincart:
    def __init__(self, customer_name):
        self.customer_name = customer_name
        self.items= []

In [5]:
class bankaccount:
    def __init__ (self,account_holder, account_name, balance = 0):
        self.account_holder = account_holder
        self.account_name = account_name
        self.balace = balance

    def deposit (self,amount):
        self.balace = self.balace +amount
        return self.balace 
    
    def withdraw (self, amount):
        if amount > self.balace:
            return "insufficient amount!!"
        else:
            self.balace = self.balace - amount
            return self.balace

In [6]:
chitranjan = bankaccount("Chitranjan Kumar", 30191327592)

In [7]:
chitranjan.balace

0

In [8]:
chitranjan.deposit(430)

430

In [9]:
chitranjan.balace

430

In [10]:
chitranjan.withdraw(400)

30

In [11]:
chitranjan.balace

30

In [12]:
chitranjan.account_holder

'Chitranjan Kumar'

In [13]:
chitranjan.account_name

30191327592

In [ ]:
class Member:
    def __init__(self, name, age, membership_type):
        self.name = name
        self.age = age
        self.membership_type = membership_type
        
    def __str__(self):
        return f"Name: {self.name}, Age : {self.age}, Membership Type : {self.membership_type}"
    
members_details = [
        ("Atulit kashyap", 26, "Yearly"),
        ("Charvi", 30, "quartely"),
        ("kavit kumar", 33, "monthly"),
        ("Chitranjan kumar", 35 , "Monhtly"),
        ("Kaushal kumar", 40, "Yearly")
    ]
    
member_list= []

    for details in members_details:
        member = Member(*details)
        member_list.append(member)

    for m in member_list:
        print(m)

Name: Atulit kashyap, Age : 26, Membership Type : Yearly
Name: Charvi, Age : 30, Membership Type : quartely
Name: kavit kumar, Age : 33, Membership Type : monthly
Name: Chitranjan kumar, Age : 35, Membership Type : Monhtly
Name: Kaushal kumar, Age : 40, Membership Type : Yearly