In [1]:
1

1

In [2]:
class book :
    def __init__(self, title, author, available_copies):
        self.title = title
        self.author = author 
        self.available_copies = available_copies

In [10]:
Book1 = book("Python porgramming", "Chitranjan kumar", 20)
Book2  = book("Coomuncation mgt", "Lalit pandit", 30)
Book3  = book("LIbrary mgt", "venketesh", 50)

print(Book1.title, Book1.author, Book1.available_copies)

Python porgramming Chitranjan kumar 20

In [7]:
Book2.author

'Lalit pandit'

print(Book1.title, Book1.author, Book1.available_copies)

In [1]:
class Member:
    def __init__(self, name, age, membership_type):
        self.name = name
        self.age = age
        self.membership_type = membership_type
        
    def __str__(self):
        return f"Name: {self.name}, Age : {self.age}, Membership Type : {self.membership_type}"
    
members_details = [
        ("Atulit kashyap", 26, "Yearly"),
        ("Charvi", 30, "quartely")
        ("kavit kumar", 33, "monthly")
        ("Chitranjan kumar", 35 , "Monhtly")
        ("Kaushal kumar", 40, "Yearly")
        ]
    
member_list = []
for details in members_details:
    member = Member(*details)
    member_list.append(details)

for m in member_list:
    print (m)

<>:12: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\kchit\AppData\Local\Temp\ipykernel_4108\3257507331.py:12: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  ("Charvi", 30, "quartely")

TypeError: 'tuple' object is not callable

In [2]:
class Member:
    def __init__(self, name, age, membership_type):
        self.name = name
        self.age = age
        self.membership_type = membership_type
        
    def __str__(self):
        return f"Name: {self.name}, Age : {self.age}, Membership Type : {self.membership_type}"
    
members_details = [
    ("Atulit kashyap", 26, "Yearly"),
    ("Charvi", 30, "quartely"),
    ("kavit kumar", 33, "monthly"),
    ("Chitranjan kumar", 35 , "Monhtly"),
    ("Kaushal kumar", 40, "Yearly")
    ]
    
member_list= []

for details in members_details:
    member = Member(*details)
    member_list.append(member)

for m in member_list:
    print(m)

Name: Atulit kashyap, Age : 26, Membership Type : Yearly
Name: Charvi, Age : 30, Membership Type : quartely
Name: kavit kumar, Age : 33, Membership Type : monthly
Name: Chitranjan kumar, Age : 35, Membership Type : Monhtly
Name: Kaushal kumar, Age : 40, Membership Type : Yearly

In [15]:
class Laptop:
    def __init__(self, brand, ram, storage, price):
        self.brand = brand
        self.ram = ram
        self.storage = storage
        self.price = price
    
    def __str__(self):
        return f"Brand: {self.brand}, Ram : {self.ram}, Storage : {self.storage}, Price :$ {self.price}"
    
lap1 = Laptop("HP", "60gb" ,"150gb", 30000)
lap2 =Laptop("lenevo", "80gb", "90gb", 35000)
lap3 =Laptop("Dell", "100gb", "5001gb",50000)

laptop = [lap1,lap2,lap3]
expensive_lap = max(laptop, key=lambda x: x.price)

print("MOst expensive laptop price is: ")
print(expensive_lap)

MOst expensive laptop price is:
Brand: Dell, Ram : 100gb, Storage : 5001gb, Price :$ 50000

In [26]:
class movieticket:
    def __init__(self, movie_name, seat_no, price):
        self.movie_name = movie_name
        self.seat_no = seat_no
        self.price = price
        

    def __str__(self):
        return f"Movie Name: {self.movie_name}, Seat No : {self.seat_no}, Price: {self.price}"

ticket1  = movieticket("RHTDM", "12A", 450 )
ticket2 = movieticket ("Bahubali", "25B", 560)
ticket3 = movieticket ("Andhadhun", "18C", 670)

all_ticket  = [ticket1, ticket2, ticket3]
total_price = sum(ticket.price for ticket in all_ticket)

print("Tickets purchaged")
for ticket in all_ticket:
    print(ticket)

print(f"Total amount to be paid : {total_price}")

Tickets purchaged
Movie Name: RHTDM, Seat No : 12A, Price: 450
Movie Name: Bahubali, Seat No : 25B, Price: 560
Movie Name: Andhadhun, Seat No : 18C, Price: 670
Total amount to be paid : 1680

In [32]:
class Student :
    def __init__(self, name, roll_no, marks):
        self.name = name
        self.roll_no = roll_no
        self.marks = marks

    def __str__(self):
        return f"Name : {self.name}, Roll no : {self.roll_no}, Marks : {self.marks}"
    
stu1= Student ("MOhini Ranjan", 12, 900)
stu2 = Student( "Mohan Tiwari", 23, 890)
stu3 = Student ("Manmohan Sigh", 52, 908)

All_stu = [stu1,stu2,stu3]
highest_marks = max(All_stu, key = lambda x : x.marks)

print(f"Hightest marks obtain by :")
print(highest_marks)

Hightest marks obtain by :
Name : Manmohan Sigh, Roll no : 52, Marks : 908

In [38]:
class Product:
    def __init__(self, product_id, price):
        self.product_id = product_id
        self.price = price
        
    def __str__(self):
        return f"Product Name : {self.product_id}, Price of product : {self.price}"
        
p1 = Product("Bottle", 540)
p2 = Product("pen", 290)
p3 = Product("mouce", 400 )
p4 = Product("earbud", 1000)

products  = [p1,p2,p3,p4]
expensive_pro = [p for p in products if p.price > 500]

print ("Product price more than 500 :")
for p in expensive_pro:
    print(p)

Product price more than 500 :
Product Name : Bottle, Price of product : 540
Product Name : earbud, Price of product : 1000

In [42]:
class Car:
    def __init__(self, brand, model,rental_price_perday):
        self.brand =brand
        self.model = model
        self.rental_price_perday = rental_price_perday

    
    def __str__(self):
        return f"Brand name : {self.brand}, Model name : {self.model}, Price/day : {self.rental_price_perday}"

c1 = Car("Suzuki", "Baleno", 1300)
c2 = Car ("Hyndai", "Alcazar", 1500)
c3 = Car("Tata", "Hector", 2400)

all_car = [c1,c2,c3]
cheapest_Car  = min(all_car, key = lambda x : x.rental_price_perday)

print("The chepast car from the list is")
for c in all_car:
    print(c)

print(f"Chepast car price out of :")
print(cheapest_Car)

The chepast car from the list is
Brand name : Suzuki, Model name : Baleno, Price/day : 1300
Brand name : Hyndai, Model name : Alcazar, Price/day : 1500
Brand name : Tata, Model name : Hector, Price/day : 2400
Chepast car price out of :
Brand name : Suzuki, Model name : Baleno, Price/day : 1300

In [47]:
class Room:
    def __init__(self,room_no, room_type, price_pernight):
        self.room_no = room_no
        self.room_type = room_type
        self.price_pernight = price_pernight

    def __str__(self):
        return f"Room no : {self.room_no}, Room type : {self.room_type}, Price : {self.price_pernight}"
r1 = Room(101 , "Executive", 5000)
r2 = Room(203, "Suite", 4000)
r3 = Room(404, "Double room", 3500)

disply_details = [r1,r2,r3]
print("Availbe rooms:")
for d in disply_details:
    print(d)

Availbe rooms:
Room no : 101, Room type : Executive, Price : 5000
Room no : 203, Room type : Suite, Price : 4000
Room no : 404, Room type : Double room, Price : 3500

In [54]:
class Teacher:
    def __init__(self, course_name, duration, fee):
        self.course_name = course_name
        self.duration = duration
        self.fee = fee

    def __str__(self):
            return f"Course name : {self.course_name}, Duration: {self.duration}, Fee : {self.fee}"
    

c1 = Teacher("Basic Python", "20 hrs", 4500)
c2 = Teacher("Intermediate  Python", "35 hrs", 4000)
c3 = Teacher ("Advance Python", " 60 hrs", 5600)

all_course = [c1,c2,c3]
total_fee = sum(course.fee for course in all_course)

print("Total fee of all cousre is :")
for course in all_course:
     print (course)
    
print(f"Total fee is:{total_fee}")

Total fee of all cousre is :
Course name : Basic Python, Duration: 20 hrs, Fee : 4500
Course name : Intermediate  Python, Duration: 35 hrs, Fee : 4000
Course name : Advance Python, Duration:  60 hrs, Fee : 5600
Total fee is:14100

In [55]:
class Teacher:
    def __init__(self, course_name, duration, fee):
        self.course_name = course_name
        self.duration = duration
        self.fee = fee

    def __str__(self):
            return f"Course name : {self.course_name}, Duration: {self.duration}, Fee : {self.fee}"
    

c1 = Teacher("Basic Python", "20 hrs", 4500)
c2 = Teacher("Intermediate  Python", "35 hrs", 4000)
c3 = Teacher ("Advance Python", " 60 hrs", 5600)

all_course = [c1,c2,c3]
total_fee = sum(i.fee for i in all_course)

print("Total fee of all cousre is :")
for i in all_course:
     print (i)
    
print(f"Total fee is:{total_fee}")

Total fee of all cousre is :
Course name : Basic Python, Duration: 20 hrs, Fee : 4500
Course name : Intermediate  Python, Duration: 35 hrs, Fee : 4000
Course name : Advance Python, Duration:  60 hrs, Fee : 5600
Total fee is:14100

In [60]:
class Mobile:
    def __init__(self, brand , model, price):
        self.brnad = brand
        self.model = model
        self.price = price

    def __str__(self):
        return f"Brand name : {self.brnad}, Model name :{self.model}, Price :{self.price}"
    

m1 = Mobile ("Google","Pixel 10" ,55000)
m2 = Mobile("Samsung", "Galaxy 5g", 45000)
m3 = Mobile("One plus", "Nord CE4", 40000)
m4 = Mobile("Nokia","G42", 42000)

mobile = [m1,m2,m3,m4]
above_mob = [p for p in mobile if p.price > 45000]

print("List of mobile above 45000 :")
for p in above_mob:
    print(p)

List of mobile above 45000 :
Brand name : Google, Model name :Pixel 10, Price :55000

In [63]:
class Menuitem:
    def __init__(self, item_name, category, price):
        self.item_name = item_name
        self.category = category
        self.price = price
     
    def __str__(self):
        return f"Item name : {self.item_name}, Catogery :{self.category}, Price : {self.price}"
f1 = Menuitem("Thali", "Main course", 500)
f2 = Menuitem("Dosa", "Breakfst", 200)
f3 = Menuitem ("Icecream", "Dessert", 50)

main = [f1,f2,f3]

print("Main course tiems")
for m in main :
    if m.category == "Main course":
        print (m)

Main course tiems
Item name : Thali, Catogery :Main course, Price : 500

In [67]:
class Menuitem:
    def __init__(self, item_name, category, price):
        self.item_name = item_name
        self.category = category
        self.price = price
     
    def __str__(self):
        return f"{self.item_name} - {self.category} - {self.price}"
f1 = Menuitem("Thali", "Main course", 500)
f2 = Menuitem("Dosa", "Breakfst", 200)
f3 = Menuitem ("Icecream", "Dessert", 50)
f4 = Menuitem("Veg Thali", "Main Course", 220)

main = [f1,f2,f3,f4]

print("Main course tiems")
for m in main :
    if m.category == "Main course":
        print (m)

Main course tiems
Thali - Main course - 500

In [75]:
class Employee:
    def __init__(self, emp_id, salary):
        self.emp_id = emp_id
        self.salary = salary

    def __str__(self):
        return f" {self.emp_id}-{self.salary}"
    

e1 = Employee("Dularchand Mahto", 45000)
e2 = Employee("Kashiram Mahto", 55000)
e3 = Employee("Ramnaraya Gandhi", 60000)

all_empl = [e1,e2,e3]
tot_sal = sum(empl.salary for empl in all_empl)

print("Total salary details")
for i in all_empl:
    print(i)

print(f"Total salary to be paid : ₹ {tot_sal}")

Total salary details
 Dularchand Mahto-45000
 Kashiram Mahto-55000
 Ramnaraya Gandhi-60000
Total salary to be paid : ₹ 160000

In [ ]:
class Flight:
    def __init__(self,flight_no, source, destination):
        self.flight_no = flight_no 
        self.source = source
        self.destination = destination

    def __str__(self):
        return f"{self.flight_no}-{self.source}- {self.destination}"
    
f1 = Flight("6E546", "Patna" , "Gaya")
f2 = Flight("6E6860", "Jamshedpur", "Delhi")
f3 = Flight ("8983", "Delhi","Gaya")
f4 = Flight ("6E567", "Delhi", "Bangalore")

all_flight = [f1,f2,f3,f4]

print("Flight Details from Delhi")

for flight in all_flight:
    if flight.source == "Delhi":
        print(flight)

Flight Details from Delhi
8983-Delhi- Gaya
6E567-Delhi- Bangalore

In [95]:
class Busticket :
    def __init__(self, passenger_name, source, destination, fare):
        self.passenger_name = passenger_name
        self.source = source
        self.destination = destination
        self.fare = fare
    def __str__(self):
        return f"{self.passenger_name}, {self.source}, {self.destination}, {self.fare}"
    

p1= Busticket("Rohini", "ecity", "ecityp2", 50)
p2 = Busticket ("Palak", "N road", "ecity", 50)
p3 = Busticket ("Richa", "BNR", "Ecity", 90)
p4 = Busticket ("Smirit", "Shivaji", "jpnagar", 210)

all_pas = [p1,p2,p3,p4]
tot_fare= sum(f.fare for f in all_pas[:2])

for f in all_pas:
    print(f)

print(tot_fare)

Rohini, ecity, ecityp2, 50
Palak, N road, ecity, 50
Richa, BNR, Ecity, 90
Smirit, Shivaji, jpnagar, 210
100

In [5]:
class Groceryitem :
    def __init__(self, item_name, quantity, price_per_unit):
        self.item_name = item_name
        self.quantity = quantity
        self.price_per_unit = price_per_unit

    def __str__(self):
        return f"{self.item_name}- {self.quantity}-{self.price_per_unit}"
    
it1 = Groceryitem("mango" , 20, 200)
it2 = Groceryitem("papaya", 10 , 400)
it3 = Groceryitem ("Banana", 40, 200)
it4 = Groceryitem("Lichhi", "5 kg", 1000)

all_item = [it1,it2,it3,it4]
total_price = sum(p.price_per_unit for p in all_item)

print("Total bill of item is: ")
print(total_price)

Total bill of item is:
1800

In [9]:
class Property:
    def __init__(self, location, area, price):
        self.location = location 
        self.area = area
        self.price = price

    def __str__(self):
        return f"{self.location}- {self.area} Sqf- {self.price} Cr"
    
p1 = Property("Ecity", 1500, 2)
p2 = Property ("Chandapura", 2000 , 1.5)
p3 =Property ("Sarjapur", 2500 , 2.5)

all_pro = [p1,p2,p3]
lar_are = max(all_pro, key = lambda x: x.area)

print(f"Largest area is: ")
print(lar_are)

Largest area is:
Sarjapur- 2500 Sqf- 2.5 Cr

In [3]:
class Patient:
    def __init__(self, name, age, disease):
        self.name = name
        self.age =age 
        self.disease = disease

    def __str__(self):
        return f" {self.name}- {self.age} Year- {self.disease}"
    
p1 = Patient("omar", 55 , "Hight bp and sugar")
p2 = Patient ("Khalid", 61 , "COPD")
p3 = Patient("Shahood", 65, "Mental disorder")
p4 = Patient ("Shamim", 80, "Knee pain and hight sugar")

all_pati = [p1,p2,p3,p4]

for p in all_pati:
    if p.age >= 60:
        print(p)

 Khalid- 61 Year- COPD
 Shahood- 65 Year- Mental disorder
 Shamim- 80 Year- Knee pain and hight sugar

In [7]:
class Weather :
    def __init__(self, city, temperature, condition):
        self.city = city
        self.temperature = temperature
        self.condition = condition

    def __str__(self):
        return f" {self.city}- {self.temperature} .C - {self.condition}"
    

c1 = Weather("Bangalore", 26, "Cloudy to rainy" )
c2 = Weather("Delhi", 30, "Mostly Humidity")
c3 = Weather("Chennai", 34, "Humidity and Heat")

all_city = [c1,c2,c3]
high_tem = max(all_city, key = lambda x :x.temperature)

print("Highest temperature in city is : ")
print(high_tem)

Highest temperature in city is :
 Chennai- 34 .C - Humidity and Heat

In [17]:
class Player :
    def __init__(self, name, sport, age):
        self.name = name
        self.sport = sport
        self.age = age

    def __str__(self):
        return f"{self.name} - {self.sport}- {self.age}"
    
p1 = Player ("Chitranjan", "Cricket", 35)
p2 = Player("Jitendra", "Football", 40)
p3 = Player("Bhupesh", "Cricket", 45)
p4 = Player("Alok Naidy", "Cricket", 43)
p5 = Player("Deep", "Hockey", 48)

all_play= [p1,p2,p3,p4,p5]

for p in all_play:
    if p.sport == "Cricket":
        print(p)

Chitranjan - Cricket- 35
Bhupesh - Cricket- 45
Alok Naidy - Cricket- 43