In [1]:
1

1

In [2]:
class library:
    total_books = 5000

In [3]:
print(total_books)

NameError: name 'total_books' is not defined

In [4]:
library.total_books

5000

In [5]:
l= library()

In [6]:
l.total_books

5000

In [7]:
class machine:
    def _start_engine(self):
        print("engine started")

In [11]:
m = machine()
m._start_engine()

engine started

In [ ]:
class car(machine):
    def _start_engine(self):
        return super()._start_engine()

In [25]:
class bank:
    def __init__(self):
        self.__pin= pin

In [26]:
b = bank(2345)
b._bank__pin

TypeError: bank.__init__() takes 1 positional argument but 2 were given

In [28]:
class bank:
    def __init__(self):
        self.__pin = pin

    def __get_pin(self):
        return self.__pin

In [29]:
b= bank(9867)
b._ban__get_pin()

TypeError: bank.__init__() takes 1 positional argument but 2 were given

In [30]:
from abc import ABC, abstractmethod

In [31]:
1

1

In [45]:
class car :
    def __init__(self, brand):
        self.brand = brand
    
    def show_brand (self):
        print ("car brand is :", self.brand)

    def show_model(self):
        print("car model is:Baleno")

In [46]:
c= car("bmw")
print(c.brand)

bmw

In [47]:
c.show_brand()

car brand is : bmw

In [48]:
c.show_model()

car model is:Baleno

In [49]:
class library :
    total_books = 5000

In [50]:
library.total_books

5000

In [51]:
l  = library

In [52]:
l.total_books

5000

In [53]:
car.brand

AttributeError: type object 'car' has no attribute 'brand'

In [58]:
class employee :
    def __init__(self, name , age):
        self._name = name
        self.age = age
        
    def show_employee (self):
        print("employee name :", self._name)
        print("employee age:", self.age)

In [55]:
employee._name

AttributeError: type object 'employee' has no attribute '_name'

In [57]:
e =employee("chitranjan", 30)
e._name

'chitranjan'

In [63]:
class manager (employee):
    def show_employee_name(self):
        print("Manager Name:", self._name)

In [64]:
manager = manager("Murli", 50)
manager.show_employee_name()

Manager Name: Murli

In [65]:
class machine:
    def _start_engine(self):
        print("Started engine")

In [66]:
m = machine()
m._start_engine()

Started engine

In [68]:
class  car(machine):
    def drive(self):
        self._start_engine()
        print("Car is driving")

In [69]:
c = car()
c.drive()

Started engine
Car is driving

In [82]:
class bank :
    def __init__(self,pin):
        self.__pin = pin

    def __get_pin(self):
        return self.__pin
        pass

In [87]:
b = bank(343)
b._bank__get_pin()

343

In [83]:
b = bank(2345234)
b._bank__pin

2345234

In [84]:
b.__dict__

{'_bank__pin': 2345234}

In [88]:
class student :
    def __init__(self, name, age):
        self.name = name 
        self.age = age
        pass

In [93]:
s1 = student("ram", 34)

In [95]:
s1.age

34

In [96]:
s1.name

'ram'

In [97]:
class student :
    def __init__(self, name, age):
        self._name = name 
        self._age = age

In [98]:
s2 = student("hari", 34)

In [99]:
s2._name

'hari'

In [101]:
s2._age

34

In [ ]:
b = bank(343)
b._bank__get_pin()

In [107]:
class student :
    def __init__(self, name, age):
        self.__name = name 
        self.__age = age

    def display(self):
        print(f"Name: {self.__name}, Age: {self.__age}")

In [108]:
s3 = student("budh",34)

In [109]:
s3.display()

Name: budh, Age: 34

In [105]:
s3._student__name

'budh'

In [106]:
s3._student__age

34

In [116]:
class account:
    def __init__(self,acc_num, balance= 0):
        self.__acc_num = acc_num
        self.__balance = balance

    
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"₹{amount} depostied successfully:)")
        else:
            print("Kindly enter positive amount")

    def withdraw (self,amount):
        if amount <=self.__balance:
            self.__balance -= amount 
            print(f"₹{amount} withdraw successfully!!")
        else:
            print("Insufficient balance")

    def get_balance (self):
        return self.__balance

In [119]:
a1 = account(23452345, 670)

In [120]:
a1.deposit(500)

₹500 depostied successfully:)

In [122]:
a1.withdraw(200)

₹200 withdraw successfully!!

In [123]:
a1.__balance

AttributeError: 'account' object has no attribute '__balance'

In [124]:
a1._account__balance

970

In [148]:
class account:
    def __init__(self, name, balance = 0):
        self.__name = name 
        self.__balalnce = balance
        
    def deposit(self, amount):
        if amount >0:
            amount += self.__balalnce
            print(f"{amount}, depostied succusscully!")
    
    def withdraw(self, amount):
        if amount <= self.__balalnce:
            self.__balalnce -= amount 
            print(f"{amount}, withdrawr successfully!!")
        else:
            print(f"Low amount ")

    def display_bal(self,withdraw ):
       self.__balalnce - withdraw

In [149]:
ac1.display_bal()

300

In [150]:
ac1.deposit(400)

700, depostied succusscully!

In [152]:
ac1.display_bal()

300

In [129]:
ac1 = account("ram", 500)

In [130]:
ac1.deposit(400)

900, depostied succusscully!

In [133]:
ac1.display_bal()

500

In [135]:
ac1.withdraw(200)

200, withdrawr successfully!!

In [136]:
ac1.display_bal()

300

In [143]:
ac1.deposit(6000)

6300, depostied succusscully!

In [144]:
ac1.display_bal()

300

In [145]:
ac1._account__balance

AttributeError: 'account' object has no attribute '_account__balance'

In [6]:
class Product :
    def __init__(self, name, price):
        self.name = name
        self.__price = price

    @property
    def price (self):
        return self.__price

    @price.setter
    def price(self, value):
        if value < 0 :
            print("Price can not be negative")
        else:
            self.__price = value
            print(f"Price updated to {self.__price}")


    def show (self):
        print(f"Product :{self.name},Price: {self.__price}")


p1 = Product("Samosha", 20)
print("Current price:", p1.price)
p1.price = 25
p1.price = -10
p1.show()

Current price: 20
Price updated to 25
Price can not be negative
Product :Samosha,Price: 25

In [7]:
1

1

In [8]:
from abc import ABC, abstractmethod

In [24]:
class paymen:
    @abstractmethod
    def process_payment(self, amount):
        pass

    @abstractmethod
    def payment_details(self):
        pass


    @abstractmethod
    def common_method(self):
        pass
    
    @abstractmethod
    def check_balance (self):
        pass

In [22]:
p = paypal()
p.process_payment(100)

processing paypal payment of 100

In [23]:
class paypal(payment):
    def process_payment(self, amount):
        print(f"processing paypal payment of {amount}")

    def payment_details(self):
        print(f"paypal payment details")

    def common_method(self):
        print(f"common method implemnted in paypal")

In [31]:
@my_decorator
def  name():
    print(f"i will always part thank you")

In [32]:
name()

i am part of iihmr
i will always part thank you
 i will always part of iihmr thank you

In [ ]:
i am part of iihmr
My name is chitranjan kumar
i will always be part thank you!

In [35]:
def my_decorator(func):
    def wrapper():
        print("i am part of iihmr")
        func()
        print(" i will always part of iihmr thank you")
    return wrapper

In [36]:
import time
@timer
@my_decorator
def timercalfunction():
        for i in range (3):
            print(f"interation {i+1} started")
        time.sleep(2)
        print("function executed")

In [37]:
timercalfunction()

i am part of iihmr
interation 1 started
interation 2 started
interation 3 started
function executed
 i will always part of iihmr thank you
function executed in 2.001174211502075 seconds

In [17]:
import time
def timercalfunction():
    start_time = time.time()
    for i in range(5):
        print(f"iteration {i+1} started")
    time.sleep(3)
    print("Function executed")
    end_time = time.time()
    elapsed_time  = start_time - end_time
    print(f"Elaspsed time: {elapsed_time} seconds")

In [18]:
timercalfunction()

iteration 1 started
iteration 2 started
iteration 3 started
iteration 4 started
iteration 5 started
Function executed
Elaspsed time: -3.001896858215332 seconds

In [23]:
def timer(func):
    def wrapper():
        start_time = time.time()
        func()
        end_time = time.time()
        print(f"function executed in {end_time -start_time} seconds")
    return wrapper

In [40]:
import time
def time_it(func):
    def wrapper():
        start_time = time.time()
        func()
        end_time = time.time()
        print(f"Execution time :{start_time - end_time} seconds")
    return wrapper

In [49]:
@time_it
def slow_function():
    for i in range(5):
        print(f"iteration {i+1} started")
        time.sleep(1)
    print(f"Function executed!")

In [50]:
slow_function()

iteration 1 started
iteration 2 started
iteration 3 started
iteration 4 started
iteration 5 started
Function executed!
Execution time :-5.004320859909058 seconds

In [51]:
def require_login(func):
    def wrapper(*args, **kwargs):
        logged_in = kwargs.get('loged_in', False)

        if not logged_in :
            print(f"Access denied ! please login first")
            return None
        else:
            print("ACcess granted")
            return func(*args, **kwargs)
    return wrapper

In [59]:
@require_login
def view_dasboard(*args, **kwargs):
    print("Welcomeo to your dashboard!")

@require_login
def edit_profile(*args, **kwargs):
    print("Profile in editing progress.....kindly wait:)")

In [60]:
view_dasboard()

Access denied ! please login first

In [62]:
view_dasboard(loged_in = False)
edit_profile(loged_in = True)

Access denied ! please login first
ACcess granted
Profile in editing progress.....kindly wait:)

In [63]:
view_dasboard(loged_in = True)

ACcess granted
Welcomeo to your dashboard!

In [65]:
def require_login (func):
    def wrapper(*args, **kwargs):
        loged_in  = kwargs.get('loged_in' , False)

        if not loged_in :
            print("Kindly login first please")
        else:
            print("Access granted")
            return func(*args, **kwargs)
    return wrapper

In [67]:
@require_login
def view_dasboard(*args, **kwargs):
    print("Welcome to dashboard")

@require_login
def edit_profile(*args, **kwargs):
    print("Your profile is under progress....kindly wait!!")

In [69]:
view_dasboard(loged_in = True)

Access granted
Welcome to dashboard

In [71]:
edit_profile(loged_in = True)

Access granted
Your profile is under progress....kindly wait!!